body, html {
    background-color: rgb(0, 18, 122);
}

p#paragrafo1 {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 900px;
    height: 250px;
    text-align: center;
    font: normal 18pt Arial;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    border-radius: 80px;
    padding: 20px;
}

p#paragrafo2 {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 900px;
    height: 150px;
    text-align: center;
    font: normal 18pt Arial;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    border-radius: 80px;
    padding: 20px;
}

select{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 95px;
    height: 50px;
    margin-top: 50px;
    margin-left: 45%;
    margin-bottom: 50px;
    margin-right: 45%;
    border-radius: 20%;
    background-color: aquamarine;
    border-radius: 500px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13.3px;
    box-shadow:  0px 5px 20px 0px aquamarine;
    transition: 300ms ease-in-out;
    align-items: center;
}


